<div class="container">
  <h1>Animals</h1>

  <div class="row">
    <div class="col-4" *ngFor="let animal of animals">
      <div class="card animal" (click)="eventAnimal(animal)">
        <img src="assets/{{animal.image}}" alt="{{animal.name}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{animal.name}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div id="selected-animal" *ngIf="!!animalShow.name">
    <img src="assets/{{animalShow.image}}" alt="{{animalShow.name}}" class="card-img-top">
    <h3>{{animalShow.name}}</h3>
  </div>
</div>
